# Introduction to Scikit-Learn (sklearn)
This notebook demonstrates some of the most useful functions of the beautiful Scikit-Learn library.

What we're going to cover:

In [19]:
# Let's listify the contents
what_were_covering = [
    "0. An end-to-end Scikit-Learn workflow",
    "1. Getting the data ready",
    "2. Choose the right estimator/algorithm for our problems",
    "3. Fit the model/algorithm and use it to make predictions on our data",
    "4. Evaluating a model",
    "5. Improve a model",
    "6. Save and load a trained model",
    "7. Putting it all together!"]

In [20]:
import numpy as np

In [21]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\asus\focusprojects\newmlprojects\env\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\asus\focusprojects\newmlprojects\env\lib\site-packages (from scikit-learn) (1.25.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\asus\focusprojects\newmlprojects\env\lib\site-packages (from scikit-learn) (1.11.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\asus\focusprojects\newmlprojects\env\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\asus\focusprojects\newmlprojects\env\lib\site-packages (from scikit-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pandas as pd
import numpy as np
heart_dis=pd.read_csv("heart-disease.csv");
heart_dis

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [23]:
#create x (features)
x =heart_dis.drop("target",axis=1)
y=heart_dis["target"]

In [24]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [25]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [26]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [28]:
clf.fit(x_train,y_train);

In [30]:
y_preds=clf.predict(x_test)
y_preds

array([0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1], dtype=int64)

In [31]:
y_test

292    0
296    0
195    0
34     1
254    0
      ..
88     1
72     1
249    0
131    1
21     1
Name: target, Length: 61, dtype: int64

In [32]:
#evaluate the  model
clf.score(x_train,y_train)

1.0

In [33]:
clf.score(x_test,y_test)

0.819672131147541

In [36]:
from sklearn.metrics import confusion_matrix

In [37]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [38]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.81      0.79      0.80        28
           1       0.82      0.85      0.84        33

    accuracy                           0.82        61
   macro avg       0.82      0.82      0.82        61
weighted avg       0.82      0.82      0.82        61

In [39]:
confusion_matrix(y_test,y_preds)

array([[22,  6],
       [ 5, 28]], dtype=int64)

In [40]:
accuracy_score(y_test,y_preds)

0.819672131147541

In [41]:
#5.Improve model
#Try DIFFERENT amount of estimators

In [43]:
np.random.seed(42)
for i in range(10,100,10):
    print(f"trying model with{i}) estimators...")
    clf=RandomForestClassifier(n_estimators=i).fit(x_train,y_train)
    print(f"Model accuracy on test set:{clf.score(x_test,y_test)*100:.2f}%");
    print("")

trying model with10) estimators...
Model accuracy on test set:83.61%

trying model with20) estimators...
Model accuracy on test set:78.69%

trying model with30) estimators...
Model accuracy on test set:83.61%

trying model with40) estimators...
Model accuracy on test set:83.61%

trying model with50) estimators...
Model accuracy on test set:83.61%

trying model with60) estimators...
Model accuracy on test set:86.89%

trying model with70) estimators...
Model accuracy on test set:85.25%

trying model with80) estimators...
Model accuracy on test set:85.25%

trying model with90) estimators...
Model accuracy on test set:80.33%

In [44]:
#saving the model and load it
import pickle
pickle.dump(clf,open("random_forest_model_1.pk1","wb"))

In [47]:
load_model=pickle.load(open("random_forest_model_1.pk1","rb"))
load_model.score(x_test,y_test)

0.8032786885245902